<section class="text-white" id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                    <h1 class="text-white">FAQ</h1>
                </div>
            </div>
            {% include landing/qna.html 
                question="Do your balls hang low? "
                answer="Do they wobble to and throw" 
                icon="sentiment_very_satisfied"
            %}

        </div>
</section>