<section  id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                    <h2 class="text-white">Why Choose LightTag?</h2>
                    <p class="lead text-white feature-text">
                        Annotate faster, more accurately and at scale
                    </p>
                </div>
            </div>

            {% include landing/feature.html 
                title="Easy to use"
                text="Your expert annotators are their to label. LightTag's interface ensures they can focus on labeling and do so as quickly and accurately as possible." 
                icon="sentiment_very_satisfied"
            %}
            {% include landing/feature.html 
                title="Robust"
                text="LightTag supports named entity recognition, single and multi class document classification as well as phrase based and dependency based structures." 
                icon="sentiment_very_satisfied"
            %}
            {% include landing/feature.html 
                title="Language Agnostic"
                text="Annotate any language including RTL and CJK languages. LightTag makes no assumptions about your vocabulary or tokenization scheme and you can annotate phrases and subwords natively.  " 
                icon="sentiment_very_satisfied"
            %}

            {% include landing/feature.html 
                title="Intelligent Automation"
                text="LightTag learns from your annotators as they work, generating suggestions for further annotations. By combining reinforcement and deep learning methods
                LightTag's models converge to a high accuracy fast!" 
                icon="sentiment_very_satisfied"
            %}
            {% include landing/feature.html 
                title="It Just Works &trade;"
                text="No software to install. No Servers to configure, No network ports to open.  Enjoy the peace of mind of high availbility, daily data backups and an intuitive
                management interface without writing one line of code.  " 
                icon="sentiment_very_satisfied"
            %}

            {% include landing/feature.html 
                title="Built for teams"
                text="LightTag makes annotating with a team simple. As a project manager you define how many annotators you'd like to work on each example. 
                <br/>
                LightTag will automatically allocate work accordingly. That's it. No need to assign tasks to labelers and no need for labelers to find the next piece of work. "
                icon="sentiment_very_satisfied"
            %}

            {% include landing/feature.html 
                title="Enterprise Ready"
                text="Your data is sensitive and can't go to the cloud. Wether you need to be HIPAA compliant or are dealing with proprietary records, you must run your labeling projects on premise. 
                LightTag is designed for you. Our on premise offering includes everything in the SaaS as well as enterprise necesetieis such as SSO, Active Directory integrations and immutable audit logs.
                And best of all, it still Just Works &trade;
                "
                icon="sentiment_very_satisfied"
            %}



        </div>
    </section>
    