<section class="bg-orange" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                    <h2 class="text-primary">Why Choose LightTag?</h2>
                    <p class="lead text-white feature-text">
                        Annotate faster, more accurately and at scale
                    </p>
                </div>
            </div>
            <div class="row d-md-flex mt-4 text-center">
                <div class="col-sm-4 mt-2">
                    <div class="card border-none wow fadeIn">
                        <div class="card-block bg-orange text-white">
                            <i class="material-icons dp36 icon-box text-white">sentiment_very_satisfied</i>
                            <h5 class="card-title text-primary pt-5">Easy to use</h5>
                            <p class="card-text text-justify feature-text">LightTag's modern interface makes annotating easy. Keyboard shortcuts and optimized layouts means your 
                                team can work fast without making mistakes</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card border-none wow fadeIn">
                        <div class="card-block bg-orange text-white">
                            <i class="material-icons dp36 icon-box">group_add</i>
                            <h5 class="card-title text-primary pt-5">Built for teams</h5>
                            <p class="card-text text-justify feature-text">LightTag makes annotating with a team simple. As a project manager you define how many annotators you'd like to work on each example. 
                                    <br/>
                                    LightTag will automatically allocate work accordingly, and let you aggregate annotations or view them on an annotator by annotator basis. 
                                You'll never need to assign work yourself or track which examples have been covered, LightTag does it for you.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card border-none wow fadeIn">
                        <div class="card-block bg-orange text-white">
                            <i class="material-icons dp36 icon-box">grid_off</i>
                            <h5 class="card-title text-primary pt-5">Fully Managed and devops free</h5>
                            <p class=" card-text text-justify feature-text">
                                Our hosted solution is fully managed and includes daily backups with long retentions and a redundant cluster of servers to ensure high availbility. 
                            <br/>
                                You'll never have to configure a database or monitor a server.
                                Additionally, each LightTag customer operates on an isolated LightTag instance on their own subdomain (you.lighttag.io) 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card border-none wow fadeIn">
                        <div class="card-block bg-orange text-white">
                            <i class="material-icons dp36 icon-box">trending_up</i>
                            <h5 class="card-title text-primary pt-5">Analytics</h5>
                            <p class="card-text text-justify feature-text">It's not enough to gather data. You need to know what you have and spot problems early. 
                                <br/> 
                                LightTag tracks your projects progess and reports inter annotator agreement as well as highlighting individual annotator performance
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-block bg-orange text-white">
                                <i class="material-icons dp36 icon-box">trending_up</i>
                                <h5 class="card-title text-primary pt-5">Use any Language</h5>
                                <p class="card-text text-justify feature-text">LightTag makes no assumptions about your data and fully supports RTL and CJK languages out of the box. <br/>
                                    LightTag supports intra word annotations that are crucial for data with rich morphology as well as intra word annotations for capturing complex
                                    phrases.
                                </p>
                            </div>
                        </div>
                </div>
                <div class="col-sm-4 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-block bg-orange text-white">
                                <i class="material-icons dp36 icon-box">trending_up</i>
                                <h5 class="card-title text-primary pt-5">Automate</h5>
                                <p class="card-text text-justify feature-text">Upload your own dictionariers, regular expressions or models to provide suggestions to your annotators.<br/> 
                                    Or let LightTag learn from your annotators as they go.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    