<section class=" hero pt-5">
    <div class="container-fluid">
        <div class="row" >
                <div class="col-md-6 offset-md-1 ">
                        <div class="row d-sm-flex text-white">
                                <h1> The Text Annotation Tool for Teams</h1>
                        </div>
                </div>
                    
        </div>
        <div class="row">
                <div class="col-md-6 offset-md-2 text-white title-description">
                        <h2>All growing NLP teams run into the same fundamental problem. </h2>
                        <div class='offset-md-1'>
                                <h3>
                                        
                                        <span class="bold">Not enough labeled data. </span> <br/>
                                        Not enough control of <span class="bold"> data quality. </span> <br/>
                                        No infrastructure to improve with.  <br/>
                                        The good news ? <br/> 
                                        
                                </h3>
                        </div>
                        <h2 class="bold">LightTag makes in house 
                                        <a class="text-orange" href="{{site.url}}/#features" onclick="gtag_report_internal_click('features')">text annotation <span class="sr-only">(current)</span></a> easy.
                                        </h2>
                </div>
        </div>
        <div class="row" >
                        <!-- <div class="col-md-3 offset-md-1">
                                <a class="btn btn-white btn-radius btn-lg" href="https://demo.lighttag.io/#/signup" onclick="gtag_report_conversion()">
                                    Try our demo now 
                                </a>
                        </div> -->
                        <div class="col-md-6 offset-md-3">
                                <a class="btn btn-white btn-radius btn-lg" href="/contact/" >
                                        Talk to an Expert Now
                                </a>
                        </div>
                
                </div>
        
    </div>
</section>
