<section class="bg-texture hero pt-5">
    <div class="container">
        <div class="row d-sm-flex">
                <div class="col-md-8 ">
                        <img class="img-fluid mx-auto d-block" src="assets/img/suggestions.gif"/>
                </div>
        </div>
        <div class="row" > &nbsp; </div>
        <div class="row d-sm-flex text-white">
                <div class="col-md-8 ">
            
                    <h2 >Execute and manage your <span class="text-orange">NLP annotations</span> with ease</h2>
                </div>
                
                

        </div>
        <div> &nbsp; &nbsp; &nbsp; &nbsp;</div>
        <div class="row" >
                
                <div class="col-md-3 ">
                        <a class="btn btn-white btn-radius btn-lg" href="https://demo.lighttag.io/#/signup" onclick="gtag_report_conversion()">
                            Try our demo now 
                        </a>
                </div>
                <div class="col-md-3 offset-md-1">
                        <a class="btn btn-white btn-radius btn-lg" href="/contact/" >
                                Talk to an Expert
                        </a>
                        </div>
        
        </div>
    </div>
</section>
