
<section class="bg-texture-collage" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                    <h1 class="text-white">Plans</h1>
                </div>
            </div>

            <div class="row d-md-flex mt-4 text-center bg-primary">

                    <div class="col-sm-4  mt-2 wow fadeIn">
                            <div class="card card-outline-orange bg-primary text-white">
                                <div class="card-block">
                                    <h2 class="card-title pt-4 text-white">Community</h2>
                                    <h3 class="card-title text-orange pt-4">Free</h3>
                                    <div>&nbsp; </div>
                                    <p class="card-text text-muted pb-3 border-bottom"> 
                                    </p>
                                    <ul class="list-unstyled pricing-list">
                                        <li>Your own project on LightTags community server</li>
                                        <li>Annotate with the LightTag community and share your datasets</li>
                                    </ul>
                                    <a href="/signup" class="btn btn-white btn-radius text-primary btn-lg">Start Now</a>
                                </div>
                            </div>
                        </div>
        
                <div class="col-sm-4  mt-2 wow fadeIn">
                    <div class="card card-outline-orange bg-primary text-white">
                        <div class="card-block">
                            <h1 class="card-title pt-4 text-white">Proffesional</h1>
                            <h3 class="card-title text-white pt-4">$100 </h3>
                            <p class="card-text text-muted pb-2 border-bottom">per user per month </p>
                            <ul class="list-unstyled pricing-list">
                                <li> Everything in Community  <span class="text-orange"> plus </span></li>
                                <li>Your own private, isolated LightTag server </li>
                                <li>Custom subdomain (you.lighttag.io)</li>
                                <li>API Access</li>
                                <li>Manage Multiple Projects Concurrently</li>
                                <li>Daily backups + 30 day retention</li>
                            </ul>
                            <a href="/signup" class="btn btn-white btn-radius btn-lg">Start Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4  mt-2 wow fadeIn">
                        <div class="card card-outline-orange bg-primary text-white">
                            <div class="card-block">
                                <h2 class="card-title pt-4 text-white">Enterprise</h2>
                                <h3 class="card-title text-orange pt-4">Contact us</h3>
                                <p class="card-text text-muted pb-3 border-bottom">On premise & large teams </p>
                                <ul class="list-unstyled pricing-list">
                                    <li> Everything in Proffesional  <span class="text-orange"> plus </span></li>
                                    <li>On site installations</li>
                                    <li>Integrate your own models</li>
                                    
                                </ul>
                                <a href="/signup" class="btn btn-white btn-radius btn-lg">Contact Us</a>
                            </div>
                        </div>
                    </div>
    
                    &nbsp;
            </div>
        </div>
    </section>
    